@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(https://fonts.gstatic.com/s/ptsans/v9/jizaRExUiTo99u79D0-EwA.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url(https://fonts.gstatic.com/s/ptsans/v9/jizfRExUiTo99u79B_mh0OOtKA.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(https://fonts.gstatic.com/s/robotocondensed/v16/ieVl2ZhZI2eCN5jzbjEETS9weq8-19-7CA.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url(https://fonts.gstatic.com/s/robotocondensed/v16/ieVi2ZhZI2eCN5jzbjEETS9weq8-32meGCkYag.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu72xP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fCRc9.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans Narrow'), local('PTSans-Narrow'), url(https://fonts.gstatic.com/s/ptsansnarrow/v8/BngRUXNadjH0qYEzV7ab-oWlsbCLwRg.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFWJ0e.ttf) format('truetype');
}
/*layout*/
h1,
h2,
h3,
h4,
h5,
p,
ul {
  padding: 0;
  margin: 0;
}
.container {
  max-width: 1010px;
  width: 100%;
}
body {
  background: #000;
}
h2 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
  font-size: 48px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}
.red_text {
  color: #FC481A;
}
.text_thin {
  font-weight: 400;
}
/*layout end*/
.upper_content {
  background: url('../img/woman and man.png') no-repeat center center;
  background-size: cover;
  padding-top: 27px;
  background-position: 0px 0px;
}
.header .logo_block {
  float: left;
}
.header .question_block {
  float: right;
}
.header .question_block .question_block_item {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 16px;
  display: inline-block;
}
.header .question_block .question_block_item span {
  font-weight: 700;
  font-size: 20px;
  position: relative;
}
.header .question_block .question_block_item:first-child span:before {
  content: "";
  display: block;
  width: 29px;
  height: 37px;
  background: url('../img/header_icon_1.png') no-repeat center center;
  position: absolute;
  left: -35px;
}
.header .question_block .question_block_item:last-child {
  margin-left: 70px;
}
.header .question_block .question_block_item:last-child span:before {
  content: "";
  display: block;
  width: 42px;
  height: 37px;
  background: url('../img/header_icon_2.png') no-repeat center center;
  position: absolute;
  left: -50px;
  top: -10px;
}
/*mid_content*/
.mid_content h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 58px;
  text-align: center;
  background: -webkit-gradient(linear, left top, right top, from(#F0E394), to(#B49B52));
  background: -webkit-linear-gradient(left, #F0E394 0%, #B49B52 100%);
  background: -o-linear-gradient(left, #F0E394 0%, #B49B52 100%);
  background: linear-gradient(to right, #F0E394 0%, #B49B52 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 10px;
}
.mid_content h5 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 22px;
  color: #fff;
  margin-right: 40px;
  margin-bottom: 15px;
}
.mid_content .product_img {
  max-width: 100%;
}
.mid_content ul.list_desc {
  padding-left: 35px;
  margin-bottom: 25px;
}
.mid_content ul.list_desc li {
  list-style: none;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  position: relative;
  opacity: .8;
}
.mid_content ul.list_desc li:before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background: url('../img/list_item.png') no-repeat center center;
  position: absolute;
  left: -35px;
}
.mid_content ul.list_desc li div.lineunder {
  width: 70%;
  height: 1px;
  margin-top: 5px;
  margin-bottom: 5px;
  /* IE10+ */
  background-image: -ms-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #0A0000 50%);
  /* Mozilla Firefox */
  background-image: -moz-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #0A0000 50%);
  /* Opera */
  background-image: -o-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #0A0000 50%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(radial, center center, 0, center center, 286, color-stop(0, #FFFFFF), color-stop(100, #0A0000));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #0A0000 50%);
  /* W3C Markup */
  background-image: -webkit-radial-gradient(ellipse farthest-corner at center, #FFFFFF 0%, #0A0000 50%);
  background-image: -o-radial-gradient(ellipse farthest-corner at center, #FFFFFF 0%, #0A0000 50%);
  background-image: radial-gradient(ellipse farthest-corner at center, #FFFFFF 0%, #0A0000 50%);
}
.order_block {
  float: right;
  max-width: 290px;
  width: 100%;
}
.quantity_block {
  margin-bottom: 20px;
}
.quantity_block span.number_item {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 50px;
  border-radius: 5px;
  color: #000;
  display: inline-block;
  background: #fff;
  width: 47px;
  height: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 4px;
  position: relative;
  border: 1px solid #fff;
}
.quantity_block span.number_item span {
  display: block;
  width: 100%;
  height: 1px;
  background: #CECECE;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
}
.quantity_block span.number_item:first-child {
  opacity: .7;
}
.quantity_block .number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
}
.quantity_block .text p {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 400;
  font-size: 19px;
  color: #fff;
}
.order_block_form {
  position: relative;
  max-width: 290px;
  width: 100%;
  height: 410px;
}
.order_block_form img {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 0;
}
.order_block_form div.full_price,
.order_block_form div.discount_price {
  width: 50%;
  float: left;
  position: relative;
  padding-top: 20px;
  padding-left: 25px;
  margin-bottom: 20px;
}
.order_block_form div.full_price .title,
.order_block_form div.discount_price .title {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 400;
  font-size: 18px;
  display: block;
  color: #fff;
}
.order_block_form div.full_price .price,
.order_block_form div.discount_price .price {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
  font-size: 48px;
  color: #fff;
}
.order_block_form div.full_price .price .rub,
.order_block_form div.discount_price .price .rub {
  font-size: 16px;
}
.order_block_form div.full_price {
  opacity: .5;
}
.order_block_form form {
  padding-left: 17px;
  padding-right: 17px;
  position: relative;
}
.order_block_form form input.form_fields {
  width: 100%;
  height: 54px;
  background: #F6F6F6;
  border: 1px solid #E1E1E1;
  border-radius: 5px;
  padding-left: 15px;
  margin-bottom: 15px;
}
.order_block_form form input.form_fields::-moz-placeholder {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #929292;
  opacity: 1;
}
.order_block_form form input.form_fields::-webkit-input-placeholder {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #929292;
}
.order_block_form form input.form_fields:-ms-input-placeholder {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #929292;
}
.order_block_form form input[type="submit"] {
  background: #DA4017;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  -webkit-transition: background .3s;
  -o-transition: background .3s;
  transition: background .3s;
}
.order_block_form form input[type="submit"]:hover {
  background: #B13412;
}
.order_block_form form .btn_submit {
  width: 100%;
  height: 60px;
  position: relative;
  margin-top: 10px;
  -webkit-box-shadow: 0px 15px 25px rgba(247, 73, 27, 0.3);
  box-shadow: 0px 15px 25px rgba(247, 73, 27, 0.3);
}
.order_block_form form .btn_submit span {
  display: block;
  background: #B13412;
  width: 50px;
  position: absolute;
  bottom: 0;
  top: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.order_block_form form .btn_submit span i {
  color: #fff;
  padding-left: 20px;
  padding-top: 22px;
}
.order_block_form form p {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #000;
  text-align: center;
  position: relative;
  margin-top: 25px;
}
.order_block_form form p:before {
  content: "";
  display: block;
  width: 13px;
  height: 17px;
  background: url('../img/lock.png') no-repeat center center;
  position: absolute;
  left: 4px;
  top: 2px;
}
.discount_image_block {
  max-width: 330px;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 60px;
  left: -65px;
}
.discount_image_block p {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 400;
  font-size: 19px;
  color: #fff;
}
/*questions*/
.questions {
  margin-top: 35px;
  margin-bottom: 65px;
}
.questions .questions_bg {
  background: url('../img/flame.png') no-repeat center center;
  background-size: cover;
  background-position: 0 -35px;
}
.questions .heading {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #fff;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 15px;
}
.questions .question_block {
  max-width: 640px;
  width: 100%;
  background: #fff;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 50px;
  border-radius: 10px;
}
.questions .question_block .quest {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.questions .question_block .quest span.number {
  display: inline-block;
  width: 62px;
  height: 62px;
  background: #E5E5E5;
  border-radius: 50%;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 15px;
}
.questions .question_block .quest span.q {
  display: inline-block;
  color: #000;
  text-transform: uppercase;
  text-align: center;
}
.questions .question_block .btns_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 40px;
}
.questions .question_block .btns_block .btn_bgc {
  display: inline-block;
  max-width: 250px;
  width: 100%;
  height: 80px;
  position: relative;
  text-decoration: none;
}
.questions .question_block .btns_block .btn_bgc img {
  position: absolute;
  width: 100%;
}
.questions .question_block .btns_block .btn_bgc span {
  position: relative;
  display: block;
  line-height: 80px;
  text-align: center;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #fff;
  text-transform: uppercase;
}
.questions .question_block .btns_block .btn_bgc:first-child {
  margin-right: 10px;
}
.questions .question_block .btns_block .btn_bgc:last-child {
  margin-left: 10px;
}
/*advertise*/
.advertise_block {
  background: #fff;
  border-radius: 10px;
}
.advertise_block .bg {
  background: url('../img/advert1.png') no-repeat center center;
  background-size: contain;
  background-position: 440px 0px;
  border-radius: 10px;
}
.advertise_block .text_block {
  max-width: 630px;
  width: 100%;
  text-align: left;
  padding: 35px 0 40px 40px;
  position: relative;
}
.advertise_block .text_block p {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: 17px;
  color: #000;
  margin-top: 20px;
}
.advertise_block .text_block p span {
  text-transform: uppercase;
  font-weight: 700;
}
.advertise_block h2 {
  color: #000;
  text-align: left;
}
/*benefits*/
.benefits {
  margin-top: 60px;
  padding-bottom: 110px;
  background: url('../img/table.png') no-repeat center center;
  background-position: 400px 272px;
}
.benefits .benefits_item {
  border-radius: 10px;
  background: #fff;
  margin-bottom: 15px;
}
.benefits .benefits_item p {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #000;
  text-align: center;
  height: 82px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 5px;
  padding-right: 5px;
}
.benefits .benefits_item img {
  width: 100%;
}
.benefits .benefit_main_block .col-lg-4 {
  padding-left: 10px ;
  padding-right: 10px ;
}
.benefits .big_pic {
  position: absolute;
  left: -70px;
  top: 30px;
}
.doctor_idea_block {
  background: #fff;
  border-radius: 10px;
}
.doctor_idea_block h2 {
  color: #000;
}
/*doctor_idea*/
.doctor_idea {
  position: relative;
  top: -50px;
}
.doctor_idea_block {
  background: #fff;
  border-radius: 10px;
}
.doctor_idea_block .bg {
  background: url('../img/doctor2.png') no-repeat center center;
  background-size: contain;
  background-position: 380px 0px;
  border-radius: 10px;
}
.doctor_idea_block .text_block {
  max-width: 630px;
  width: 100%;
  text-align: left;
  padding: 35px 0 40px 40px;
  position: relative;
}
.doctor_idea_block .text_block p {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: 17px;
  color: #000;
  margin-top: 20px;
}
.doctor_idea_block .text_block p span {
  text-transform: uppercase;
  font-weight: 700;
}
.doctor_idea_block .text_block img {
  position: absolute;
  bottom: 20px;
  right: 50px;
}
.doctor_idea_block h2 {
  color: #000;
  text-align: left;
}
@media (min-width: 320px) and (max-width: 751px) {
  .header .logo_block {
    float: none;
    margin-bottom: 40px;
  }
  .header .question_block {
    float: none;
    text-align: center;
  }
  .doctor_idea_block .text_block {
    padding-bottom: 110px;
    text-align: justify;
    padding-right: 40px;
  }
}
@media (min-width: 320px) and (max-width: 440px) {
  .header .question_block .question_block_item {
    width: 100%;
  }
  .header .question_block .question_block_item:last-child {
    margin-left: 0;
  }
  .header .question_block .question_block_item:first-child {
    margin-bottom: 20px;
  }
}
@media (min-width: 320px) and (max-width: 970px) {
  .discount_image_block {
    position: relative;
    left: 0;
    bottom: 0;
    float: right;
  }
  .upper_content {
    background-size: contain;
  }
  .questions .questions_bg {
    background-size: contain;
    background-position: 0 0;
  }
  .advertise_block .text_block {
    max-width: 510px;
  }
  .advertise_block .bg {
    background-size: cover;
  }
  .advertise_block .text_block {
    max-width: 100%;
    text-align: justify;
    padding-right: 40px;
  }
}
@media (min-width: 320px) and (max-width: 575px) {
  .discount_image_block,
  .order_block {
    float: none;
    margin: 20px auto;
  }
  .order_block_form div.full_price,
  .order_block_form div.discount_price {
    margin-bottom: 50px;
  }
  .order_block_form form input.form_fields {
    height: 40px;
  }
  .mid_content h1 {
    font-size: 40px;
  }
  .order_block_form div.full_price .price,
  .order_block_form div.discount_price .price {
    font-size: 28px;
  }
  .order_block_form div.full_price .title,
  .order_block_form div.discount_price .title,
  .order_block_form form p {
    font-size: 12px;
  }
  .questions .question_block .btns_block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .questions .question_block .btns_block .btn_bgc:first-child {
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .questions .question_block .btns_block .btn_bgc:last-child {
    margin-left: 0px;
  }
  .questions .question_block .quest {
    font-size: 15px;
  }
  .big_pic {
    width: 100%;
  }
  h2 {
    font-size: 30px;
  }
  .order_block_form form .btn_submit {
    margin-top: 40px;
  }
}
@media (min-width: 990px) and (max-width: 1200px) {
  .benefits {
    background-position: 160px 272px;
  }
}
@media (min-width: 320px) and (max-width: 990px) {
  .benefits .big_pic {
    position: relative;
    left: 0;
    top: 0;
    margin: 0 auto;
    display: block;
  }
  .benefits {
    background-position: 50px 272px;
  }
  .benefit_main_block {
    margin-top: 130px;
  }
}
@media (min-width: 320px) and (max-width: 475px) {
  .benefits {
    background: none;
  }
  .big_pic {
    padding-top: 30px;
  }
}
